{% extends "anthony_all_about_me/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Anthony: All About Me</h1>

    <hr>
    <h5>Birthplace: Arequipa, Arequipa, Peru</h5>
    <hr>

    <p>Arequipa is such a great city. I think some of the best memories of my childhood happened here. I lived here until I was 8 years old. I remember always watching the Misti Volcano from my bedroom window and wishing to be closer. Hiking up there is still on my bucket list.</p>
    <img src="{% static 'anthony_all_about_me/images/arequipa_temple.JPG' %}" alt="Arequipa Landscape" style="width: 50%">

    <p>This is the house where I was born </p>
    <img src="{% static 'anthony_all_about_me/images/arequipa_childhood_house.JPG' %}" alt="Arequipa Childhood House" style="width: 50%">

    <p>Food in Arequipa is amazing. In the following image we can see from left to right: ocopa arequipena, rocoto relleno, chupe de camarones and adobo arequipeno.</p>
    <img src="{% static 'anthony_all_about_me/images/arequipa_restaurant.jpg' %}" alt="Arequipa Childhood House" style="width: 50%">

    <hr>
    <h5>High School: Platteville Wisconsin</h5>
    <hr>

    <p>This is where I went to high school.</p>
    <img src="{% static 'anthony_all_about_me/images/platteville_high.jpg' %}" alt="Platteville High School" style="width: 50%">

    <hr>
    <h5>Mission for The Church of Jesus Christ of Latter-day Saints</h5>
    <hr>

    <p>
        I was called to serve in the India, New Delhi Mission. I initially only had a one year visa to India, so when it
        expired I spent six months in the Philippines getting it renewed.
    </p>

    <img src="{% static 'anthony_all_about_me/images/IMG_0456.jpg' %}" alt="India" style="width: 30%">
    <br><br><br>
    <img src="{% static 'anthony_all_about_me/images/IMG_0102.jpg' %}" alt="Philippines" style="width: 50%">

    <hr>
    <h5>Family</h5>
    <hr>

    <p>
        My beautiful wife's name is Rachael and our cute little son Eli is 7 months old at this point.
    </p>

    <img src="{% static 'anthony_all_about_me/images/KLH_1740.jpg' %}" alt="Family" style="width: 30%">

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}